body {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    background-color: #f7f2f1;
    color: #202846;
    margin: 0;
    }
.bron1 {
    text-align: center;
    margin-top: 20px;
    color: #DCDCDC;
    }
.menyu {
    width: 100%;
    height: 50px;
    background-color: #202846;
    margin: 0px auto;
    padding-right: 20px;
    box-sizing: border-box;
    display: block;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 100;
}
.logo {
    width: 90px;
    height: 30px;
    background-image: url(../Pict/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin-left: 9.5rem;
    margin-right: 8.5rem;
    }
.navi {
    font-size: 80%;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 55%;
    align-items: center;
}
.navi_p {
    margin-left: 0px;
    color: #ffffff;
    text-decoration: none;
    text-align-last: center;
    
}
.planet {
    width: 30px;
    height: 30px;
    background-image: url(../Pict/planet1.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
    right: 55px;
    
}
main {
    width: 100%;
    height: auto ;
    background-color: #e6e2dd;
    margin: 0px auto;
}
.bron, .bron2 {
    width: 100%;
    height: 75px;
    background-color: #C6C6DC;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1.5rem 9.5rem;
    box-sizing: border-box;
    font-size: 120%;
    font-style: italic;
    font-weight: 400;
}
.bron1, .bron2 {
    color: #202846;
    text-decoration: none;
}
.vibir {
    width: 75%;
    height: 30px;
    background-color: #ffffff;
    text-align: center;
    margin: 30px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-left: 340px;
}
.vibir > .vibir1 {
    display: flex;
    margin-top: 4px;
}
.vibir > .vibir2 {
    width: 20px;
    height: 20px;
    background-image: url(../Pict/Pict_1.png);
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 330px;
    margin-top: 8px;
}
main > .card1 {
    width: 75%;
    height: 200px;
    background-color: #a9a9a9;
    margin: 36px auto;
    position: absolute center;
    box-sizing: border-box;
    padding: 10px 0 10px 40px ;
    transition: all 0.5s;
}
.card1:hover {
    background-color: #C6C6DC;
    cursor: pointer;
}
.card1:hover .star {
    color: #FFFF00;
}
.card1:hover .button {
    background-color: #EF075B;
}
main > .card1 > .images1, .images2, .images3, .images4  {
    width: 40%;
    height: 180px;
    background-image: url(../Images/image\ 5_1.png);
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin: 0 0 20px 0;
}
.images2 {
    background-image: url(../Images/image\ 4_1.png);
}
.images3 {
    background-image: url(../Images/image\ 6_1.png);
}
.images4 {
    background-image: url(../Images/image\ 7_1.png);
}
main > .card1 > .opis1 {
    width: 50%;
    height: 180px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 40px;
}
.title {
    color: #202846;
    font-size: 150%;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    margin: 8px 0;
}
.linea {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}
main > .card1 > .opis1 > .text {
    width: 100%;
    height: auto;
    font-size: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    color: black;
    text-align: center;
    margin: 13px 0 0 0;
    padding: 13px;
}
main > .card1 > .star {
    width: 30px;
    height: 30px;
    font-size: 250%;
    color: #ffffff;
    display: inline-block;
    position: relative;
    bottom: 120px;
 
}
.button {
    background-color: #202846;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 50px;
    position: relative;
    left: 440px;
    bottom: 10px;
    
    
}
main > .home {
    width: 50px;
    height: 50px;
    background-color: #989b9b;
    border-radius: 50%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 230%;
    color: #ffffff;
    position: fixed;
    top: 620px;
    left: 1150px;
    text-decoration: none;
}
.bron2 {
    margin-top: 150px;
}
.name {
    width: 55%;
    height: 250px;
    background-color: #BDBDC6;
    margin: 30px auto;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.name > .name1 {
    width: 30%;
    display: inline-block;
    padding-top: 0px;
    box-sizing: border-box;
}
.name1_1 {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-bottom: 40px;
    background-image: url(../Pict/avatar.png);
    background-size: contain;
    background-repeat: no-repeat;
} 
.name1_2 {
    text-decoration: none;
    background-color: #69749B;
    color: #ffffff;
    font-size: 90%;
    padding: 3px 7px;
    border-radius: 50px;
    position: relative;
    bottom: 20px;
    left: 50px;
}
.name1_3 {
    background-color: #484A54;
    text-decoration: none;
    color: #ffffff;
    font-size: 90%;
    padding: 3px 10px;
    border-radius: 50px;
    position: relative;
    left: 50px;
    bottom: 10px;
  
}    
.name > .name2 {
    width: 60%;
    display: inline-block;
    margin-left: 30px;
    font-size: 120%;
    list-style: none;
    font-weight: 700;
    font-style: italic;
    line-height: 10px;
    color: #202846;
}
.name2_1 {
    border-bottom: 2px #fbfbfd solid;
    padding-bottom: 10px;
}
.name2_2 {
    font-style: italic;
    font-weight: 400;
}
.button1 {
    background-color: #202846;
    padding: 5px 30px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 50px;
    position: relative;
    left: 570px;

    
}
.contakt {
    width: 100%;
    height: 500px;
    background-color: #e6e2dd;
}
.contakt_box, .contakt_box1 {
    width: 60%;
    height: 90px;
    margin: 50px auto;
    box-sizing: border-box;
    display: flex;
}
.contakt > .contakt_box >.contakt_1 {
    width: 25%;
    height: 90px;
    margin: 0 auto;
    display: inline-block;
    justify-content: space-between;
}
.contakt_box1 {
    height: 250px;
    display: flex;
    justify-content: space-between;
    
}
.contakt > .contakt_box1 >.contakt_1{
    width: 30%;
    height: 240px;
    margin-left: 30px;
    display: inline-block;
    justify-content: space-between;  
}
iframe {
    width: 400px;
    height: 240px;
    border: 2px #202846 solid;
    border-radius: 40px;
   
}
.zag {
    font-size: 110%;
    text-align-last: left ;
    border-bottom: 2px #202846 solid;
    padding-bottom: 7px;
}
.info {
    font-size: 110%;
    text-align-last: center ;
    margin-top: -7px;
}
.footer {
    width: 100%;
    height: 45px;
    background-color: #202846;
    margin: 0px auto 10px;
    color: #ffffff;
    font-style: italic;
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
}
